<div id="myCards">
  <div class="headers">
    <h5>ProDent</h5>
    <h1>Daily Tasks</h1>
  </div>
  <div fxLayout="row" style="width:800px; height:20px;margin-top:42px">
    <div fxFlex="25%" style="height:210px" >
      <mat-card style="margin:10px">
        <mat-checkbox style="position:absolute; top:-10px; right:-10px;" value="checked" (click)="changeValue(checked)" color="primary"></mat-checkbox>
        <mat-card-header>
          <mat-card-title>
            <h2>Redesign old screenflow</h2>
            </mat-card-title>
        </mat-card-header>
                
        <mat-card-content>
          <p>In the new layout you need to show and navigate user through the component </p>
        </mat-card-content>
            
        <mat-card-actions  style="margin:-10px; ">
          <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span class="btntext" style="font-size:10px"><b>UI</b></span ></button>
          <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span style="font-size:10px" ><b>GRAPHICS</b></span></button>
          <span style="font-size:12px;padding-left:10px" > more</span>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="25%">
      <mat-card style="margin:10px;">
        <mat-checkbox style="position:absolute; top:-10px; right:-10px;" value="checked" (click)="changeValue(checked)" color="primary"></mat-checkbox>
          <mat-card-header>
            <mat-card-title>
              <h2>Redesign old screenflow</h2>
            </mat-card-title>
          </mat-card-header>
                
          <mat-card-content>
            <p>In the new layout you need to show and navigate user through the component </p>
          </mat-card-content>
          
          <mat-card-actions style="margin:-10px; ">
            <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span class="btntext" style="font-size:10px"><b>UI</b></span ></button>
            <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span style="font-size:10px" ><b>GRAPHICS</b></span></button>
            <span style="font-size:12px;padding-left:10px" > more</span>
          </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card style="margin:10px;">
      <mat-checkbox style="position:absolute; top:-10px; right:-10px;" value="checked" (click)="changeValue(checked)" color="primary"></mat-checkbox>
        <mat-card-header>
          <mat-card-title>
            <h2>Make a state for developer</h2>
          </mat-card-title>
        </mat-card-header>
                
        <mat-card-content>
          <p>In the new layout you need to show and navigate user through the component </p>
        </mat-card-content>
        
        <mat-card-actions style="margin:-10px; ">
          <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span class="btntext" style="font-size:10px"><b>UI</b></span ></button>
          <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span style="font-size:10px" ><b>GRAPHICS</b></span></button>
          <span style="font-size:12px;padding-left:10px" > more</span>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card style="margin:10px;">
        <mat-checkbox style="position:absolute; top:-10px; right:-10px;" value="checked" (click)="changeValue(checked)" color="primary"></mat-checkbox>
          <mat-card-header>
            <mat-card-title>
              <h2>Draw icons for tap bar</h2>
            </mat-card-title>
          </mat-card-header>
                
          <mat-card-content>
            <p>In the new layout you need to show and navigate user through the component </p>
          </mat-card-content>
          
          <mat-card-actions style="margin:-10px; ">
            <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span class="btntext" style="font-size:10px"><b>UI</b></span ></button>
            <button mat-flat-button style="min-width:30px; padding:0px 5px; margin:5px; background-color:#f5f5f5; color:black"><span style="font-size:10px" ><b>GRAPHICS</b></span></button>
            <span style="font-size:12px;padding-left:10px" > more</span>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div>
    <img class="imgLayout" src="../assets/images/graph.png">
  </div>
</div>