#myCards{
    margin:35px;
    position: absolute;
    top:-31px;
}

#myCards h1 {
    margin-top: -11px;
}

.mat-card {
    padding:12px
}

 .mat-checkbox-frame {
    border-radius: 50% !important;

}

::ng-deep .mat-checkbox .mat-checkbox-frame, ::ng-deep .mat-checkbox-background {
    border-radius: 50% !important; 
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    background:white;
}

.imgLayout {
    position:absolute;
    width:600px;
    height:250px;
    top:430px;
    left:-100px;
}



