.micons{
    padding-right:10px;
}

.subitem{
    font-size:12px;
}

.right{
    position:absolute;
    right:35px;
}

.rightmost{
    position:absolute;
    right:5px;
}

.navList{
    padding-top:25px;
}

