<mat-list class="navList">
    <mat-list-item><mat-icon class="micons">add</mat-icon> General </mat-list-item>
    <mat-list-item><mat-icon class="micons">clear</mat-icon>Projects </mat-list-item>
        <mat-list style="margin-left:30px;">
            <mat-list-item class="subitem">ProDent <mat-icon class="right">visibility_outline</mat-icon> <mat-icon class="rightmost">more_horiz</mat-icon></mat-list-item>
            <mat-list-item class="subitem">Bassket</mat-list-item>
            <mat-list-item class="subitem">SmartHome</mat-list-item>
        </mat-list>                
    <mat-list-item><mat-icon class="micons">add</mat-icon> Team </mat-list-item>
    <mat-list-item><mat-icon class="micons">add</mat-icon> Room </mat-list-item>
</mat-list>