.row {
    height:800px;
}

.navButtons:first-child{
    padding-top:75px
}
.navButtons {
    font-size: 30px;
    padding:10px 20px;
    
    
}
.white-icon {
    color:#f5f5f5;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
    fill: white;
}