<div fxLayout="column">
    <mat-icon class="navButtons white-icon">account_circle</mat-icon><br>
    <mat-icon class="navButtons white-icon">menu</mat-icon><br>
    <mat-icon class="navButtons white-icon">share</mat-icon>
</div>
