<div fxLayout="row"  style="height:710px">
    <div fxFlex="6%" style="background-color: blue;">
        <app-navtab></app-navtab>
    </div>
    <div fxFlex="20.4%" style="background: white">
        <app-nav-menu></app-nav-menu>
    </div>
    <div fxFlex="68%" style="background: #f5f5f5">
        <app-cards></app-cards>
    </div>
</div>

